<html layout:decorator="student/template/layout">
	
	<div layout:fragment="content">
	
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<form autocomplete="off" th:action="@{/student/reset}"
					th:object="${resetPassword}" method="post" class="form-horizontal"
					role="form">
					<h3>Password Update</h3>

					<div th:if="${message != null and #strings.length(message.message) != 0}" th:class="${message.status}">
						<font style="font-size: 12px;"><span th:utext="${message.message}" th:remove="tag" /></font>
					</div>	



  					<div class="form-group">
						<div class="col-sm-5">
						<label>Old Password:</label>
						<input type="password" name="oldpassword" th:field="*{oldpassword}" placeholder="Old Password*" 
									class="form-control" />
						</div>
					</div>

  					<div class="form-group">
						<div class="col-sm-5">
						<label>New Password:</label>
						<input type="password" name="password" th:field="*{password}" placeholder="New Password*" 
									class="form-control" />
						</div>
					</div>
  					<div class="form-group">
						<div class="col-sm-5">
						<label>Confirm Password:</label>
						<input type="password" name="confirmpassword" th:field="*{confirmpassword}" placeholder="Confirm Password*" 
									class="form-control" />
						</div>
					</div>
				
					
					<div class="form-group">
						<div class="col-sm-5">
							<button type="submit" class="btn btn-primary btn-block">Submit</button>
						</div>
					</div>
					<span th:utext="${successMessage}"></span>
					
				</form>
			</div>
		</div>
	</div>

</html>