<html layout:decorator="admin/layout">
	
	<div layout:fragment="content" class="container">

		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a th:href="@{/admin/organizations}">Organizations</a></li>
			<!-- <li class="breadcrumb-item"><a href="#">Forms</a></li> -->
			<li class="breadcrumb-item active"><span th:text="${organizationForm==null?'New Organization':'Edit Organization'}"></span></li>
		</ol>
		
		<div class="col-xs-12 col-sm-12">
			<div class="box">
				<div class="box-content">
					<h4 class="page-header">Organization form</h4>
					<p>The field with (*) is mandatory.</p>
					
					<div th:if="${message != null and #strings.length(message.message) != 0}" th:class="${message.status}">
						<font style="font-size: 12px;"><span th:utext="${message.message}" th:remove="tag" /></font>
					</div>
					
					<form class="form-horizontal" id="org" th:action="@{/admin/organization}" method="post" th:object="${organizationForm}">
						<div class="form-group">
							<label class="col-sm-2 control-label">Organization name*</label>
							<div class="col-sm-4">
								<input type="text" th:field="*{name}" class="form-control" placeholder="Organization name" data-toggle="tooltip" data-placement="bottom" title="Tooltip for name">
							</div>
							<label class="col-sm-2 control-label">Domain name*</label>
							<div class="col-sm-4">
								<input type="text" th:field="*{domain}" class="form-control" placeholder="Domain name" data-toggle="tooltip" data-placement="bottom" title="Tooltip for last name">
							</div>
							<label class="col-sm-2 control-label">Contact Person</label>
							<div class="col-sm-4">
								<input type="text" th:field="*{contact}" class="form-control" placeholder="Contact Person">
							</div>
							<label class="col-sm-2 control-label">Phone</label>
							<div class="col-sm-4">
								<input type="text" th:field="*{phone}" class="form-control" placeholder="Phone" name="phonenumber" />
							</div>
							<label class="col-sm-2 control-label">Email</label>
							<div class="col-sm-4">
								<input type="text" th:field="*{email}" class="form-control" placeholder="Email" name="email" />
							</div>
							<div class="col-sm-4" style="height: 20px;">
								<input type="hidden" th:field="*{organizationid}" />
							</div>
							<div class="col-sm-4">
								<button type="submit" class="btn btn-primary btn-label-left">
									<span><i class="fa fa-clock-o"></i></span>
									Submit
								</button>
									
									<a th:href="@{/admin/organizations}" class="btn btn-primary btn-label-left"><span><i class="fa fa-remove"></i></span> Cancel</a>
							</div>
						</div>
						
					</form>
				</div>
			</div>
		</div>
	</div>

</html>