<html layout:decorator="admin/layout">

	<div layout:fragment="content"> <!--  class="container" -->

		<!-- Breadcrumbs-->
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a th:href="@{/admin/home}">Reports</a>
			</li>
			<li class="breadcrumb-item active">My Dashboard</li>
		</ol>

		<div class="col-xs-12 col-sm-12">
			<div class="box">
				<div class="container-fluid">
					<form class="form-horizontal" id="rpt" th:action="@{/admin/report}" method="post">
						<div class="row" th:if="${programs == null or programs.size() == 0}">
							<div class="col-sm-2">
								<label class="control-label">Organization*</label>
							</div>
							<div class="col-sm-4">
								<select id="organizationid" name="organizationid" class="form-control" placeholder="Organization" data-toggle="tooltip" data-placement="bottom" title="Tooltip for Organization" onchange="loadOrgs(this)">
									<option th:each="org:${orgs}" th:value="${org.organizationid}" th:text="${org.name}" th:selected="${org.organizationid==orgid}" />
								</select>
							</div>
						</div>
						<div th:if="${programs != null and programs.size() > 0}">
							<div class="row">
								<div class="col-sm-2">
									<label class="col-sm-4 control-label">Organization*</label>
								</div>
								<div class="col-sm-4">
									<select id="organizationid" name="organizationid" class="form-control" placeholder="Organization" data-toggle="tooltip" data-placement="bottom" title="Tooltip for Organization" onchange="loadOrgs(this)">
										<option th:each="org:${orgs}" th:value="${org.organizationid}" th:text="${org.name}" th:selected="${org.organizationid==orgid}" />
									</select>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-2">
									<label class="col-sm-4 control-label">Program*</label>
								</div>
								<div class="col-sm-4">
									<label th:each="program:${programs}">
										<input type="checkbox" id="programid" name="programid" th:value="${program.programid}" th:text="${program.name}" th:checked="${#strings.contains(programids,program.programid)}"></input>&nbsp;&nbsp;
									</label>
								</div>
							</div>
							<div class="row col-sm-12" style="height: 10px;">
							</div>
							<div class="row col-sm-12">
								<div class="col-sm-2">
								</div>
								<div class="col-sm-4">
									<button type="submit" class="btn btn-primary btn-label-left">
										<span><i class="fa fa-clock-o"></i></span>
										Submit
									</button>
								</div>
							</div>
							<div class="row col-sm-12" style="height: 10px;">
								<!-- <input type="hidden" th:field="*{templateid}" /> -->
							</div>
						</div>

					</form>
					<form id="orgForm" th:action="@{/admin/report/org/}" method="get">
					</form>
				</div>
			</div>
		</div>

			<!-- Example DataTables Card-->
		<div class="col-xs-12 col-sm-12" th:if="${regists != null and regists.size() > 0}">
			<div class="card mb-3 container-fluid">
					<div class="card-header row">
						<div class="col-xs-8">
							<i class="fa fa-table"></i> Assessment Result
						</div>
						<div style="margin-left: 80%;">
							<a th:href="@{/admin/report/download}" class="btn btn-primary btn-label-left">Download</a>
							<!-- <form id="download" th:action="@{/admin/report/download}" method="get">
								<button type="submit" class="btn btn-primary btn-label-left">Download</button>
							</form> -->
						</div>
					</div>
				    <div class="card-body">
						<div class="table-responsive">
							<table class="table" id="dataTable" width="100%" cellspacing="0">
								<thead class="thead-light">
									<tr>
				            			<th>Reviewed</th>
										<th>Name</th>
										<th>Program</th>
										<th>Session</th>
										<th>Ast</th>
										<th>Cla</th>
										<th>Pan</th>
										<th>All</th>
										<th>Epi</th>
										<th>Hea</th>
										<th>BP</th>
										<th>Fnt</th>
										<th>Sei</th>
										<th>Lun</th>
										<th>Tmp</th>
										<th>Tas</th>
										<th>Prg</th>
										<th>Oth</th>
									</tr>
								</thead>
								<tfoot class="thead-light">
									<tr>
				            			<th>Reviewed</th>
										<th>Name</th>
										<th>Program</th>
										<th>Session</th>
										<th>Ast</th>
										<th>Cla</th>
										<th>Pan</th>
										<th>All</th>
										<th>Epi</th>
										<th>Hea</th>
										<th>BP</th>
										<th>Fnt</th>
										<th>Sei</th>
										<th>Lun</th>
										<th>Tmp</th>
										<th>Tas</th>
										<th>Prg</th>
										<th>Oth</th>
									</tr>
								</tfoot>
							<tbody>
								<tr th:each="regist : ${regists}">
									<td th:text="${regist.reviewed==1?'Y':'N'}"></td>
									<td><a th:href="${'javascript:openReview('+regist.registrationid+')'}" th:text="${regist.user.firstname}+' '+${regist.user.lastname}"></a></td>
									<td th:text="${regist.user.program.name}"></td>
									<td th:text="${regist.schedule.session.sessiondate}+' '+${#dates.format(regist.schedule.scheduletime,'HH:mm a')}"></td>
									<td th:text="${regist.user.answers.get(0).answer1==null?'N':'Y'}"></td>
									<td th:text="${regist.user.answers.get(0).answer2==null?'N':'Y'}"></td>
									<td th:text="${regist.user.answers.get(0).answer3==null?'N':'Y'}"></td>
									<td th:text="${regist.user.answers.get(0).answer4==null?'N':'Y'}"></td>
									<td th:text="${regist.user.answers.get(0).answer5==null?'N':'Y'}"></td>
									<td th:text="${regist.user.answers.get(0).answer6==null?'N':'Y'}"></td>
									<td th:text="${regist.user.answers.get(0).answer7==null?'N':'Y'}"></td>
									<td th:text="${regist.user.answers.get(0).answer8==null?'N':'Y'}"></td>
									<td th:text="${regist.user.answers.get(0).answer9==null?'N':'Y'}"></td>
									<td th:text="${regist.user.answers.get(0).answer10==null?'N':'Y'}"></td>
									<td th:text="${regist.user.answers.get(0).answer11==null?'N':'Y'}"></td>
									<td th:text="${regist.user.answers.get(0).answer12==null?'N':'Y'}"></td>
									<td th:text="${regist.user.answers.get(0).answer13==null?'N':'Y'}"></td>
									<td th:text="${regist.user.answers.get(0).answer14==null?'N':'Y'}"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			<div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
			</div>
		</div>

		<script th:inline="javascript">
		/*<![CDATA[*/

		function loadOrgs(elmt) {
			form = document.getElementById("orgForm");
			form.action=form.action+"/"+elmt.value;
			//alert("login action: "+form.action);
			form.submit();
		}

	    function openReview(id) {
			window.open("review/"+id,"Review","width=900,height=700");
		}
		/*]]>*/
		</script>
	</div>

</html>