<html layout:decorator="admin/layout">

	<div layout:fragment="content" class="container">

		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a th:href="@{/admin/session}">Sessions</a></li>
			<!-- <li class="breadcrumb-item"><a href="#">Forms</a></li> -->
			<li class="breadcrumb-item active"><span th:text="${sessionForm==null or sessionForm.sessionid==0?'New Session':'Edit Session'}"></span></li>
		</ol>

		<div class="col-lg-12 col-xs-12 col-sm-12">
			<div class="box">
				<div class="box-content">
					<!-- <h4 class="page-header">Session form</h4> -->
					<p>The field with (*) is mandatory.</p>

					<div class="col-lg-8 col-sm-4" th:if="${message != null and #strings.length(message.message) != 0}" th:class="${message.status}">
						<font style="font-size: 12px;"><span th:utext="${message.message}" th:remove="tag" /></font>
					</div>

					<form class="form-horizontal" id="org" th:action="@{/admin/session}" method="post" th:object="${sessionForm}">
						<div class="form-group">
							<label class="col-lg-8 col-sm-4 control-label">Organization*</label>
							<div class="col-lg-8 col-sm-4">
								<select id="organizationid" name="organizationid" th:field="*{organizationid}" class="form-control" placeholder="Organization" data-toggle="tooltip" data-placement="bottom" title="Tooltip for Organization" onchange="loadOrgs(this)">
									<option value="0">Select Organization</option>
									<option th:each="org:${orgs}" th:value="${org.organizationid}" th:text="${org.name}" th:selected="${org.organizationid==organizationid?'selected':''}" />
								</select>
							</div>
							<label class="col-lg-8 col-sm-4 control-label">Program*</label>
							<div class="col-lg-8 col-sm-4">
								<select th:field="*{programid}" class="form-control" placeholder="Program" data-toggle="tooltip" data-placement="bottom" title="Tooltip for Program">
									<option th:each="program:${programs}" th:value="${program.programid}" th:text="${program.name}" />
								</select>
							</div>
							<label class="col-lg-8 col-sm-4 control-label">Location*</label>
							<div class="col-lg-8 col-sm-4">
								<select th:field="*{locationid}" class="form-control" placeholder="Location" data-toggle="tooltip" data-placement="bottom" title="Tooltip for Location">
									<option th:each="location:${locations}" th:value="${location.locationid}" th:text="${location.name}" />
								</select>
							</div>
							<label class="col-lg-8 col-sm-4 control-label">Session name*</label>
							<div class="col-lg-8 col-sm-4">
								<input type="text" th:field="*{name}" class="form-control" placeholder="Session name" data-toggle="tooltip" data-placement="bottom" title="Tooltip for name">
							</div>
							<label class="col-lg-8 col-sm-4 control-label">Session date*</label>
							<div class="col-lg-8 col-sm-4">
								<input type="text" th:field="*{sessiondate}" class="form-control" placeholder="Session date" data-toggle="tooltip" data-placement="bottom" title="Tooltip for session date">
							</div>
							<label class="col-lg-8 col-sm-4 control-label">Registration start date*</label>
							<div class="col-lg-8 col-sm-4">
								<input type="text" th:field="*{registstart}" class="form-control" placeholder="Registration start date" data-toggle="tooltip" data-placement="bottom" title="Tooltip for Registration start date">
							</div>
							<label class="col-lg-8 col-sm-4 control-label">Registration end date*</label>
							<div class="col-lg-8 col-sm-4">
								<input type="text" th:field="*{registend}" class="form-control" placeholder="Registration end date" data-toggle="tooltip" data-placement="bottom" title="Tooltip for Registration end date">
							</div>
							<div class="col-lg-8 col-sm-4" style="height: 20px;">
								<input type="hidden" th:field="*{sessionid}" />
							</div>
							<div class="col-lg-8 col-sm-4">
								<button type="submit" class="btn btn-primary btn-label-left">
									<span><i class="fa fa-clock-o"></i></span>
									Submit
								</button>
								<a th:href="@{/admin/sessions}" class="btn btn-primary btn-label-left"><span><i class="fa fa-remove"></i></span> Cancel</a>
							</div>
						</div>

					</form>
					<form id="orgForm" th:action="@{/admin/session/org/}" method="get">
					</form>
				</div>
			</div>
		</div>
		<script th:inline="javascript">
		/*<![CDATA[*/
		$( function() {
		    $( "#sessiondate" ).datepicker({
		        format: 'mm/dd/yyyy'
		    });
		  }
		);
		$( function() {
		    $( "#registstart" ).datepicker({
		        format: 'mm/dd/yyyy'
		    });
		  }
		);
		$( function() {
		    $( "#registend" ).datepicker({
		        format: 'mm/dd/yyyy'
		    });
		  }
		);

		function loadOrgs(elmt) {
			form = document.getElementById("orgForm");
			form.action=form.action+"/"+elmt.value;
			//alert("login action: "+form.action);
			form.submit();
		}

		/*]]>*/
		</script>
	</div>

</html>