<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<div >
													
	<h4>Forgot Your Password?</h4>
	
		<div style="margin-left: 100px; margin-top: 10px; border: solid 1px #b6b6b6; width: 400px; min-height: 290px; background-color: #f5f8fa; overflow: hidden;">
			<div style="width: 50px; height: 210px; float:left; background-color: #f5f8fa; "></div>
			<div style="width: 300px; float: left; padding-top: 20px; background-color: #f5f8fa;">
				<form name="passwordRetrieval" id="passwordRetrieval" th:action="@{/student/login/forgetPassword}" method="post" th:object="${passwordForm}" style="margin:0; background-color: #f5f8fa;">
					<div th:if="${message != null and #strings.length(message.message) != 0}" th:class="${message.status}">
						<font th:text="${message.message}" style="font-size: 12px;"></font><br />
					</div>
					<!-- <div id="errors" class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
						<font th:each="err : ${#fields.errors('*')}" th:text="${err}" style="font-size: 12px;"></font>
					</div> -->
					<div th:text="#{student.forget.title}+':'"></div>
					<div th:text="#{student.forget.username}+':'"></div>
					<div>
						<div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="alert-inline alert-danger"></div>
						<input type="text" th:field="*{username}" class="olusername" />
					</div>
					<div th:text="#{student.forget.email}+':'"></div>
					<div>
						<div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="alert-inline alert-danger"></div>
						<input type="text" th:field="*{email}" class="olusername" />
					</div>
					<div align="right" style="width:250;"><input type="submit" th:value="#{student.forget.submit}" name="retrievePwd" class="rbutton" /></div>
				</form>
			</div>
			<div style="width: 50px; height: 210px; float:left; background-color: #f5f8fa; "></div>
		</div>
												

	</div>
</html>