<!DOCTYPE html>
<html layout:decorator="client/template/layout">
	<div layout:fragment="content">

		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<h3>Primary Assessment</h3><br><br>
		
					In order to protect the health and safety of health care students/staff, 
					the use of N95 respirators may be required if there is evidence of potential exposure to airborne infectious agents, chemicals, etc. 
					Students may be required to wear an N95 respirator for lengthy periods of time and must follow protocols for the safe use and removal of their personal protective equipment to avoid exposure (for themselves and their patients). According to accepted safety standards, N95 respirators must be fit-tested to ensure that an appropriate seal can be attained. 
					This questionnaire is used to determine whether the student is medically able to wear (and be fit-tested to) an N95 respirator.			</div>
		</div>
	</div>
</html>