<html layout:decorator="client/template/layout"
		xmlns:th="http://www.thymeleaf.org">

<head>
	<script>	
		
		
	/*function toggleTB(what,elid,state)	{
	    if(what.checked)
	    {
	    	document.getElementById(elid).disabled=state
	    	    	}
		    else
	    {
	    	document.getElementById(elid).disabled=state
	 	 	}
	}*/
					
	/*function validation() {

				
        //Make groups
    	 var names = []
        $('input:radio').each(function () {
            var rname = $(this).attr('name');
            if ($.inArray(rname, names) == -1) names.push(rname);
        });
        var radioError = false;
        $.each(names, function (i, name) {
            if ($('input[name="' + name + '"]:checked').length == 0) {
                radioError = true;
            }
            });
                
        //check for error
        if(radioError) {
        
        	//var m = $(" #text01 ").val()
        	//var mm = $(" input[ name='button01' ] ").val()
 			
        	 alert('You need to select 1 option from each group.');
            return false;
        }	
   
       /*var txtArray = $("input[name^='text']");  
       for(var i=0;i<txtArray.length;i++){
                var txt =txtArray[i];
                 if (txt.val()=='null'){
                	 alert('the text should not be blank.');
                 	return false;   	 
                 }

              }
	}*/
	
	function enable(eid){
		
		 var id = "#"+eid;
		 $(""+id+"").removeAttr("disabled");
		 $(""+id+"").focus();   
	}
		
	function disable(eid){
		var id ="#"+eid;
		$(""+id+"").val("");
		$(""+id+"").attr("disabled","disabled");
	}
	
	function submitdisable(){
		   $("#assessmentsubmit").text("submitting......");  
		   $("#assessmentsubmit").attr("disabled","disabled");  
		   alert("pause");
		   return true;
		   	}
	
	</script>

</head>

	<div layout:fragment="content">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
 				  <form autocomplete="off" th:action="@{/client/assessment}"
					th:object="${answerDTO}" method="post" class="form-horizontal"
					role="form">
 					
 					<h3>Primary Assessment</h3><hr>
					<h4>Please add pertinent information to yes answers and be as explicit as possible, i.e. triggers & severity for asthma etc.</h4>

 					<div class="form-group">
						<div class="col-sm-9">
							<div th:if="${message != null and #strings.length(message.message) != 0}" th:class="${message.status}">
								<font style="font-size: 12px;"><span th:utext="${message.message}" th:remove="tag" /></font>
							</div>
								
						<h5>Do you have or do you experience any of the following:</h5>
			<!-- 			<div class="field-wrap" th:if="${answer!=null}">
			 -->									
						    <label>1. Asthma </label> <br>
							<input type="radio" name="button01" onclick="enable('text01')" value="Yes" th:checked="${answerDTO.button01 == 'Yes'}"/> Yes
							<input type="radio" name="button01" onclick="disable('text01')" value="No" th:checked="${answerDTO.button01 == 'No'}"/>No&nbsp;&nbsp;
							<input type="text"  th:field=*{answer1} name="mfi_nam9" class="text required" id="text01" th:disabled="${answerDTO.button01 == 'No'}" style="height:36px;width:300px;" /><br>
<!-- 						</div>
 -->					 <!--  onsubmit="return validation()" "alert('Please explain and be as explicit as possible, i.e. cause, symptoms, severity, frequency and any medical treatment')" -->
						<label>2. Claustrophobia </label> <br>
						<input type="radio" name="button02" onclick="enable('text02')" value="Yes" th:checked="${answerDTO.button02 == 'Yes'}" >Yes
						<input type="radio" name="button02" onclick="disable('text02')" value="No" th:checked="${answerDTO.button02 == 'No'}" >No&nbsp;&nbsp;
						<input type="text" th:field=*{answer2} th:disabled="${answerDTO.button02 == 'No'}" name="mfi_nam9" class="text required" id="text02"  style="height:36px;width:300px;" /><br>
						<label>3. Panic attacks </label> <br>
						<input type="radio" name="button03" onclick="enable('text03')" value="Yes" th:checked="${answerDTO.button03 == 'Yes'}" >Yes
						<input type="radio" name="button03" onclick="disable('text03')" value="No" th:checked="${answerDTO.button03 == 'No'}" >No&nbsp;&nbsp;
						<input type="text" th:field=*{answer3} name="mfi_nam9" class="text required" id="text03" th:disabled="${answerDTO.button03 == 'No'}" style="height:36px;width:300px;" /><br>
						<label>4. Allergy to latex, artificial sweetener, citrus or any other allergy that you feel may be of concern?</label> <br>
						<input type="radio" name="button04" onclick="enable('text04')" value="Yes" th:checked="${answerDTO.button04 == 'Yes'}" >Yes
						<input type="radio" name="button04" onclick="disable('text04')" value="No" th:checked="${answerDTO.button04 == 'No'}" >No&nbsp;&nbsp;
						<input type="text" th:field=*{answer4} name="mfi_nam9" class="text required" id="text04" th:disabled="${answerDTO.button04 == 'No'}"  style="height:36px;width:300px;" /><br>
						 <label>5. Epilepsy </label> <br>
 						<input type="radio" name="button05" onclick="enable('text05')" value="Yes" th:checked="${answerDTO.button05 == 'Yes'}" >Yes
						<input type="radio" name="button05" onclick="disable('text05')" value="No" th:checked="${answerDTO.button05 == 'No'}" >No&nbsp;&nbsp;
						<input type="text" th:field=*{answer5} name="mfi_nam9" class="text required" id="text05" th:disabled="${answerDTO.button05 == 'No'}"  style="height:36px;width:300px;" /><br>
						 <label>6. Heat Exhaustion/Heat Stroke </label> <br>
						<input type="radio" name="button06" onclick="enable('text06')" value="Yes" th:checked="${answerDTO.button06 == 'Yes'}" >Yes
						<input type="radio" name="button06" onclick="disable('text06')" value="No" th:checked="${answerDTO.button06 == 'No'}" >No&nbsp;&nbsp;
						<input type="text" th:field=*{answer6} name="mfi_nam9" class="text required" id="text06" th:disabled="${answerDTO.button06 == 'No'}"  style="height:36px;width:300px;" /><br>
						 <label>7. High blood pressure </label> <br>
						<input type="radio" name="button07" onclick="enable('text07')" value="Yes" th:checked="${answerDTO.button07 == 'Yes'}" >Yes
						<input type="radio" name="button07" onclick="disable('text07')" value="No" th:checked="${answerDTO.button07 == 'No'}" >No&nbsp;&nbsp;
						<input type="text" th:field=*{answer7} name="mfi_nam9" class="text required" id="text07" th:disabled="${answerDTO.button07 == 'No'}"  style="height:36px;width:300px;" /><br>
						<label>8. History of fainting </label> <br>
						<input type="radio" name="button08" onclick="enable('text08')" value="Yes" th:checked="${answerDTO.button08 == 'Yes'}" >Yes
						<input type="radio" name="button08" onclick="disable('text08')" value="No" th:checked="${answerDTO.button08 == 'No'}" >No&nbsp;&nbsp;
						<input type="text" th:field=*{answer8} name="mfi_nam9" class="text required" id="text08" th:disabled="${answerDTO.button08 == 'No'}"  style="height:36px;width:300px;" /><br>
						<label>9. History of seizures </label> <br>
						<input type="radio" name="button09" onclick="enable('text09')" value="Yes" th:checked="${answerDTO.button09 == 'Yes'}" >Yes
						<input type="radio" name="button09" onclick="disable('text09')" value="No" th:checked="${answerDTO.button09 == 'No'}" >No&nbsp;&nbsp;
						<input type="text" th:field=*{answer9} name="mfi_nam9" class="text required" id="text09" th:disabled="${answerDTO.button09 == 'No'}"  style="height:36px;width:300px;" /><br>
						<label>10. Lung disease/ Persistent Cough</label> <br>
						<input type="radio" name="button10" onclick="enable('text10')" value="Yes" th:checked="${answerDTO.button10 == 'Yes'}" >Yes
						<input type="radio" name="button10" onclick="disable('text10')" value="No" th:checked="${answerDTO.button10 == 'No'}" >No&nbsp;&nbsp;
						<input type="text" th:field=*{answer10} name="mfi_nam9" class="text required" id="text10" th:disabled="${answerDTO.button10 == 'No'}"  style="height:36px;width:300px;" /><br>
						<label>11. Temperature susceptibility </label> <br>
						<input type="radio" name="button11" onclick="enable('text11')" value="Yes" th:checked="${answerDTO.button11 == 'Yes'}" >Yes
						<input type="radio" name="button11" onclick="disable('text11')" value="No" th:checked="${answerDTO.button11 == 'No'}" >No&nbsp;&nbsp;
						<input type="text" th:field=*{answer11} name="mfi_nam9" class="text required" id="text11" th:disabled="${answerDTO.button11 == 'No'}"  style="height:36px;width:300px;" /><br>
						<label>12. Trouble tasting </label> <br>
						<input type="radio" name="button12" onclick="enable('text12')" value="Yes" th:checked="${answerDTO.button12 == 'Yes'}" >Yes
						<input type="radio" name="button12" onclick="disable('text12')" value="No" th:checked="${answerDTO.button12 == 'No'}" >No&nbsp;&nbsp;
						<input type="text" th:field=*{answer12} name="mfi_nam9" class="text required" id="text12" th:disabled="${answerDTO.button12 == 'No'}"  style="height:36px;width:300px;" /><br>
						 <label>13. Are you pregnant? (If yes, do not register for Fit Testing) </label> <br>
						<input type="radio" name="button13" onclick="enable('text13')" value="Yes" th:checked="${answerDTO.button13 == 'Yes'}" >Yes
						<input type="radio" name="button13" onclick="disable('text13')" value="No" th:checked="${answerDTO.button13 == 'No'}" >No&nbsp;&nbsp;
						<input type="text" th:field=*{answer13} name="mfi_nam9" class="text required" id="text13" th:disabled="${answerDTO.button13 == 'No'}"  style="height:36px;width:300px;" /><br>
						 <label>14. Other conditions, which might interfere with respirator use? </label> <br>
						<input type="radio" name="button14" onclick="enable('text14')" value="Yes" th:checked="${answerDTO.button14 == 'Yes'}" >Yes
						<input type="radio" name="button14" onclick="disable('text14')" value="No" th:checked="${answerDTO.button14 == 'No'}" >No&nbsp;&nbsp;
						<input type="text" th:field=*{answer14} name="mfi_nam9" class="text required" id="text14" th:disabled="${answerDTO.button14 == 'No'}"  style="height:36px;width:300px;" /><br>
 						<br>										
						<button type="submit" class="btn btn-primary btn-block" id="assessmentsubmit" value="Submit" onclick="return submitdisable();">Submit</button>
						</div>
						
					</div>
					
					<span th:utext="${successMessage}"></span>
					
					
				</form>
			</div>
		</div>
	</div>

</html>