<!DOCTYPE html>
<html layout:decorator="client/template/layout">
	<div layout:fragment="content">

		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<h3>Primary Assessment</h3><hr><br><br>
		Please check assessment first.
					</div>
		</div><br><br>
	<!--  <div class="col-md-6 col-md-offset-3">
	<form th:action="@{/client/assessment}">
	<input name="agree" id="agree" type="checkbox" value="agree" onclick="javasrcipt:document.getElementById('btn').disabled = document.getElementById('btn').disabled == false?true:false;" /><span style='margin:10px'>I understand above statement</span>
	<input id="btn" type="submit" value="submit" disabled>
	</form>
	</div>-->	
	
	</div>
</html>