<!DOCTYPE html>
<html layout:decorator="client/template/login_layout">
	<div layout:fragment="content">

		<h4>Forgot Your Password?</h4>

		<div style="margin-left: 100px; margin-top: 10px; width: 400px; min-height: 290px; overflow: hidden;">
			<div style="width: 50px; height: 210px; float: left;"></div>
			<div style="width: 300px; float: left; padding-top: 20px;">
				<form name="passwordRetrieval" id="passwordRetrieval"
					th:action="@{/client/login/forgetPassword}" method="post"
					th:object="${forgetpasswordForm}"
					style="margin: 0;">
					<div th:if="${message != null and #strings.length(message.message) != 0}" th:class="${message.status}">
						<font style="font-size: 12px;"><span th:utext="${message.message}" th:remove="tag" /></font>
					</div>
					<div th:text="#{student.forget.title}+':'"></div>
					<div th:text="#{student.forget.username}+':'"></div>
					<div class="field-wrap">
						<label>
							User Name<span class="req">*</span>
						</label>
						<input type="text" class="input" th:field="*{username}" required autocomplete="off" />
					</div>
					<div th:text="#{student.forget.email}+':'"></div>
					<div>
						<label>
							User Name<span class="req">*</span>
						</label>
						<input type="text" class="input" th:field="*{email}" required autocomplete="off" />
					</div>
					<button type="submit" class="button button-block" th:value="#{student.forget.submit}" name="retrievePwd" />
					<!-- <div align="right" style="width: 250;">
						<input type="submit" th:value="#{student.forget.submit}" name="retrievePwd" class="rbutton" />
					</div> -->
				</form>
			</div>
			<div style="width: 50px; height: 210px; float: left;">
			</div>
		</div>

	</div>

</html>