@CHARSET "UTF-8";
a:link {font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 10px; font-style: normal; font-weight: bold;	color: #FFFFFF;	text-decoration: none;}
a:visited {font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 10px; font-style: normal; font-weight: bold;	color: #FFFFFF;	text-decoration: none;}
a:hover {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold;  color: #b2cdeb;  text-decoration: none;}


a.b:link {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; font-weight: bold; color: #000000; text-decoration: none;}
a.b:visited {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; font-weight: bold; color: #000000; text-decoration: none;}
a.b:hover {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px;	font-weight: bold; color: #AA0000; text-decoration: none;}


a.o:link {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal;	font-weight: bold;	color: #F09319;	text-decoration: none;}
a.o:visited {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal;	font-weight: bold;	color: #F09319;	text-decoration: none;}
a.o:hover {font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 10px; font-weight: bold;	color: #000000;	text-decoration: none;}


a.r:link {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; font-style: normal; color: #FFFFFF; text-decoration: none;}


.navdecr {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #FFFFFF;
}
.navdec {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
}
.navdecb {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #000000;
}
.orange {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #f09319;
	line-height: 15px;
}
.bkgdimage {
	background-color: E0E3E7;
	/* background-image: url(images/bkgd_people.jpg); */
	background-repeat: no-repeat;
	background-position: right bottom;
}
.smlblk {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 24px;
	color: #000000;
}
.smlblka {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 14px;
	color: #000000;
}
div.popup{
	position: absolute; /*leave this and next 3 values alone*/
	z-index: 1000;
	left: -1000px;
	top: -1000px;
	background: #FCFCFC;
	border: 1px solid #CCCCCC;
	color: #000066;
	font-size: 9px;
	padding: 3px;
	width: 220px; /*width of tooltip*/
}
div.popup td {
	font-size: 9px;
