<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Employer Accountability</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link href="css/emh_style.css" rel="stylesheet" type="text/css">
<style type="text/css">
<!--
.style2 {font-size: 12px}
.style4 {font-size: 11px; color: #f09319; line-height: 15px; font-family: Verdana, Arial, Helvetica, sans-serif;}
-->
</style>
</head>

<body bgcolor="#999999" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center" valign="top"><table width="780" border="0" cellspacing="0" cellpadding="0">
        <tr> 
          <td height="105" background="images/top_clrs.gif"><table width="780" height="105" border="0" cellpadding="0" cellspacing="0">
              <tr> 
                <td width="284"><a href="home"><img src="images/emh_logo.gif" width="284" height="105" border="0"></a></td>
                <td width="496" align="right" valign="middle"> <table width="275" border="0" cellpadding="10" cellspacing="0" class="navdec">
                    <tr align="center" valign="middle"> 
                      <td><a href="home">HOME</a></td>
                      <td>|</td>
                      <td><a href="contact">CONTACT US</a></td>
                      <!-- <td>|</td>
                      <td><a href="client/home">LOGIN</a></td> -->
                      <td>&nbsp;</td>
                    </tr>
                  </table></td>
              </tr>
            </table></td>
        </tr>
        <tr> 
          <td height="32" align="right" valign="top" bgcolor="B2CDEB"> <table border="0" cellpadding="0" cellspacing="0" class="navdecb">
              <tr align="center" valign="middle"> 
                <td><a href="fit" class="b">FIT TESTING</a></td>
                <td width="53">|</td>
                <!-- <td><a href="healthconsulting" class="b">HEALTHCARE CONSULTING</a></td>
                <td width="53">|</td> -->
                <td><a href="aboutus" class="b">ABOUT US</a></td>
                <td width="53">|</td>
                <td><a href="whychoose" class="b">WHY CHOOSE EMH</a></td>
                <td width="20">&nbsp;</td>
              </tr>
            </table></td>
        </tr>
        <tr> 
          <td height="329"><table width="780" height="100%" border="0" cellpadding="0" cellspacing="0">
              <tr> 
                <td width="226" align="left" valign="top" bgcolor="E0E3E7"><table width="226" height="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td height="207"><img src="images/mask.jpg" width="226" height="207"></td>
                    </tr>
                    <tr>
                      <td><table width="226" border="0" cellspacing="0" cellpadding="20">
                          <tr> 
                            <td height="329"><p><span class="navdec">|</span> <a href="fitmodel" class="o"
							>EMH FIT Test Model</a></p>
                              <p><span class="navdec">|</span> <a href="corporatemodel" class="o"
							>EMH Corporate Training Model</a></p>
                              <p><span class="navdec">|</span> <a href="employeracct" class="o"
							>Employer Accountability</a></p>
                              <p><span class="navdec">|</span> <a href="faqs" class="o"
							>FAQ's (Questions &amp; Answers)</a></p>
                              <p><span class="navdec">|</span> <a href="post" class="o"
							>Post-Training Resources </a></p>
                              <p><span class="navdec">|</span> <a href="links" class="o"
							>Links for More Information</a></p></td>
                          </tr>
                        </table></td>
                    </tr>
                  </table></td>
                <td width="554" align="left" valign="top" bgcolor="#FFFFFF"> 
                  <table width="554" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td height="18" align="center" valign="middle"><img src="images/shadow.jpg" width="554" height="18"></td>
                    </tr>
                    <tr> 
                      <td align="left" valign="middle"><img src="images/employeracct_head.gif" width="494" height="53" vspace="26"></td>
                    </tr>
                    <tr> 
                      <td><table width="554" border="0" cellspacing="0" cellpadding="0">
                          <tr> 
                            <td width="50">&nbsp;</td>
                            <td class="smlblka"><p class="style2"><strong>ATTENTION </strong><strong>Occupational Health, Infection Control, legal, and senior administrators! Be aware that there are serious accountability and liability issues concerning masking fitting. </strong></p>                              
                              <p><strong>The Workplace Safety and Insurance Board (WSIB)</strong> is mandated by the Province of Ontario to ensure employers provide a safe work environment. &nbsp; If you are unfamiliar with your responsibilities as an employer we strongly encourage you to visit their website or talk to one of their representatives.  A failure in understanding your responsibilities as an employer could result in serious consequences both financially and possibly far worse, the loss of human life.  If you are found negligent in providing adequate training and protection you may be held to be <strong>PERSONALLY</strong> responsible. </p>
                              <p><strong>For quick reference we have provided you this important information from the WSIB website.*</strong></p>
                              <p><strong>As an <span class="style4">employer</span>, under the Occupational Health &amp; Safety Act you have the responsibility to: </strong></p>
                              <ul>
                                <li>Keep a Safe and Well-Maintained Workplace </li>
                                <li>You are required by law to take all reasonable precautions to protect your workers from illness or injury. </li>
                                <li>Provide Proper Safety Equipment and Training </li>
                                <li>Provide First Aid Training and First Aid Kits </li>
                                <li>What are the penalties for failing to comply with any of these employer responsibilities?</li>
                              </ul>                              
                              <p><strong>Employers failing to comply with the <em>Occupational Health and Safety Act </em> are subject to fines of up to $25,000 and/or up to a year's imprisonment. Corporations can be fined up to $500,000. <br>
                                <br>
              Employers are also subject to penalties for failing to report to the WSIB within three days of learning of a workplace injury or illness and other violations of the <em>Workplace Safety and Insurance Act </em>. </strong></p>                              <p class="smlblk"><span class="style4"><a href="employeracctnext" class="o"
							>CONTINUED ON NEXT PAGE </a></span></p>                            
                            </td>
                            <td width="42">&nbsp;</td>
                          </tr>
                        </table></td>
                    </tr>
                    <tr> 
                      <td><table width="554" border="0" cellspacing="0" cellpadding="0">
                          <tr align="center" valign="middle"> 
                            <td align="right">&nbsp;</td>
                            <td width="42">&nbsp;</td>
                          </tr>
                        </table></td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table></td>
        </tr>
        <tr> 
          <td height="40" align="center" valign="middle" bgcolor="AA0000"><table width="100%" border="0" cellspacing="0" cellpadding="0" class="navdecr">
            <tr align="center" valign="middle">
              <td width="30">&nbsp;</td>
              <td>Copyright &copy; 2006</td>
              <td>EMH Consulting Inc.</td>
              <td>All rights reserved.</td>
              <td>Site designed by <a href="http://www.kjakreations.com" target="_blank" class="r">kja
                kreations</a> <strong>inc.</strong></td>
            </tr>
          </table>
		  
		  </td>
        </tr>
      </table></td>
  </tr>
</table>
</body>
</html>
