<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>EMH FIT Test Model</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link href="css/emh_style.css" rel="stylesheet" type="text/css">
<style type="text/css">
<!--
.style1 {font-size: 12px}
-->
</style>
</head>

<body bgcolor="#999999" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center" valign="top"><table width="780" border="0" cellspacing="0" cellpadding="0">
        <tr> 
          <td height="105" background="images/top_clrs.gif"><table width="780" height="105" border="0" cellpadding="0" cellspacing="0">
              <tr> 
                <td width="284"><a href="home"><img src="images/emh_logo.gif" width="284" height="105" border="0"></a></td>
                <td width="496" align="right" valign="middle"> <table width="275" border="0" cellpadding="10" cellspacing="0" class="navdec">
                    <tr align="center" valign="middle"> 
                      <td><a href="home">HOME</a></td>
                      <td>|</td>
                      <td><a href="contact">CONTACT US</a></td>
                      <!-- <td>|</td>
                      <td><a href="client/home">LOGIN</a></td> -->
                      <td>&nbsp;</td>
                    </tr>
                  </table></td>
              </tr>
            </table></td>
        </tr>
        <tr> 
          <td height="32" align="right" valign="top" bgcolor="B2CDEB"> <table border="0" cellpadding="0" cellspacing="0" class="navdecb">
              <tr align="center" valign="middle"> 
                <td><a href="fit" class="b">FIT TESTING</a></td>
                <td width="53">|</td>
                <!-- <td><a href="healthconsulting" class="b">HEALTHCARE CONSULTING</a></td>
                <td width="53">|</td> -->
                <td><a href="aboutus" class="b">ABOUT US</a></td>
                <td width="53">|</td>
                <td><a href="whychoose" class="b">WHY CHOOSE EMH</a></td>
                <td width="20">&nbsp;</td>
              </tr>
            </table></td>
        </tr>
        <tr> 
          <td height="329"><table width="780" height="100%" border="0" cellpadding="0" cellspacing="0">
              <tr> 
                <td width="226" align="left" valign="top" bgcolor="E0E3E7"><table width="226" height="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td height="207"><img src="images/mask.jpg" width="226" height="207"></td>
                    </tr>
                    <tr>
                      <td><table width="226" border="0" cellspacing="0" cellpadding="20">
                          <tr> 
                            <td height="329"><p><span class="navdec">|</span> <a href="fitmodel" class="o"
							>EMH FIT Test Model</a></p>
                              <p><span class="navdec">|</span> <a href="corporatemodel" class="o"
							>EMH Corporate Training Model</a></p>
                              <p><span class="navdec">|</span> <a href="employeracct" class="o"
							>Employer Accountability</a></p>
                              <p><span class="navdec">|</span> <a href="faqs" class="o"
							>FAQ's (Questions &amp; Answers)</a></p>
                              <p><span class="navdec">|</span> <a href="post" class="o"
							>Post-Training Resources </a></p>
                              <p><span class="navdec">|</span> <a href="links" class="o"
							>Links for More Information</a></p></td>
                          </tr>
                        </table></td>
                    </tr>
                  </table></td>
                <td width="554" align="left" valign="top" bgcolor="#FFFFFF"> 
                  <table width="554" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td height="18" align="center" valign="middle"><img src="images/shadow.jpg" width="554" height="18"></td>
                    </tr>
                    <tr> 
                      <td align="left" valign="middle"><div align="left"><img src="images/fitmodel_head.gif" width="494" height="53" vspace="26"></div></td>
                    </tr>
                    <tr> 
                      <td><table width="554" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td>&nbsp;</td>
                            <td class="smlblka"><p align="left" class="smlblka style1"><strong>Applying the Standards</strong></p>
                            <p align="left" class="orange"><strong> The purpose of wearing an N95 respirator is to provide the </strong><strong>individual <br>
                              with respiratory protection in the workplace. </strong></p>
                            </td>
                            <td>&nbsp;</td>
                          </tr>
                          <tr> 
                            <td width="50">&nbsp;</td>
                            <td class="smlblka"><p class="smlblka style1">
                              <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0" width="467" height="467">
                                <param name="movie" value="EMH_Flash/fit.swf">
                                <param name="quality" value="high">
                                <embed src="EMH_Flash/fit.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="467" height="467"></embed>
                              </object>
                              </p>
                              <p align="center" class="smlblka style1"><span class="orange"><span class="navdecb">Helping Healthcare Workers to Keep Themselves Safe!</span></span><strong> </strong></p></td>
                            <td width="42">&nbsp;</td>
                          </tr>
                        </table></td>
                    </tr>
                    <tr> 
                      <td><table width="554" border="0" cellspacing="0" cellpadding="0">
                          <tr align="center" valign="middle"> 
                            <td align="right">&nbsp;</td>
                            <td width="42">&nbsp;</td>
                          </tr>
                        </table></td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table></td>
        </tr>
        <tr> 
          <td height="40" align="center" valign="middle" bgcolor="AA0000"><table width="100%" border="0" cellspacing="0" cellpadding="0" class="navdecr">
            <tr align="center" valign="middle">
              <td width="30">&nbsp;</td>
              <td>Copyright &copy; 2006</td>
              <td>EMH Consulting Inc.</td>
              <td>All rights reserved.</td>
              <td>Site designed by <a href="http://www.kjakreations.com" target="_blank" class="r">kja
                kreations</a> <strong>inc.</strong></td>
            </tr>
          </table>
		  
		  </td>
        </tr>
      </table></td>
  </tr>
</table>
</body>
</html>
