<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html layout:decorator="layout">
<head>
<title>Healthcare Consulting</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link href="css/emh_style.css" rel="stylesheet" type="text/css">
<style type="text/css">
<!--
.Bold {
	font-size: 12px;
	font-weight: bold;
}
-->
</style>
</head>

<div layout:fragment="content" class="container">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center" valign="top"><table width="780" border="0" cellspacing="0" cellpadding="0">
        <tr> 
          <td height="329"><table width="780" height="100%" border="0" cellpadding="0" cellspacing="0">
              <tr> 
                <td width="226" align="left" valign="top" bgcolor="E0E3E7"><table width="226" height="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td height="207"><img src="images/consulting_people.jpg" width="226" height="207"></td>
                    </tr>
                    <tr>
                      <td><table width="226" border="0" cellspacing="0" cellpadding="20">
                          <tr> 
                            <td height="329"><p align="left" class="orange"><strong>Healthcare
                                  Consulting </strong></p>
                              <p align="left" class="orange"><strong>Strategic Planning </strong></p>
                              <p align="left" class="orange"><strong>Program Development </strong></p>
                              <p align="left" class="orange"><strong>Project Management </strong></p>
                              <p align="left" class="orange"><strong>Health and Safety Education
                              and Training </strong></p>                              <p class="orange">&nbsp;</p>                              </td>
                          </tr>
                        </table></td>
                    </tr>
                  </table></td>
                <td width="554" align="left" valign="top" bgcolor="#FFFFFF"> 
                  <table width="554" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td height="18" align="center" valign="middle"><img src="images/shadow.jpg" width="554" height="18"></td>
                    </tr>
                    <tr> 
                      <td align="left" valign="middle"><img src="images/htc_head.gif" width="494" height="53" vspace="26"></td>
                    </tr>
                    <tr> 
                      <td><table width="554" border="0" cellspacing="0" cellpadding="0">
                          <tr> 
                            <td width="50">&nbsp;</td>
                            <td class="smlblka"><p class="smlblka"><span class="Bold">Healthcare
                                is quickly changing in Canada.</span>  To remain
                                in the forefront, maximise service whilst remaining
                                cost effective, has become increasingly important. To
                                act and respond quickly to this changing climate
                                vigilance, vision and leadership are mandatory
                                traits.  But as a leader you probably already
                                realise that there is also another important
                                issue which manages to get in the way - TIME.
                                There is just not enough time. &nbsp; Whether
                                it is your own or your staff often the important
                                things cannot be accomplished because we are
                                stretched too far.  <span class="Bold">This
                                is where EMH Consulting can help you! </span>&nbsp; </p>
                              <p> <span class="Bold">EMH Consulting is a multi-service
                                  company.</span>  We offer
                                a range of expertise and experience in strategic
                                planning, program development, project management,
                                health and safety, education and training.</p>
                              <p class="smlblka">The benefits of an EMH Consultant: </p>
                              <ul>
                                <li>dedicated professionals</li>
                                <li> Innovative and
                                  creative </li>
                                <li>Timely and visionary</li>
                                <li> Competitively
                                    priced</li>
                              </ul>                              <p class="smlblka"><span class="Bold">Feel free
                                  to enquire about our services. You will find
                                that we are your solution! </span></p>
                              <p>&nbsp;</p>
                            </td>
                            <td width="42">&nbsp;</td>
                          </tr>
                        </table></td>
                    </tr>
                    <tr> 
                      <td><table width="554" border="0" cellspacing="0" cellpadding="0">
                          <tr align="center" valign="middle"> 
                            <td align="right">&nbsp;</td>
                            <td width="42">&nbsp;</td>
                          </tr>
                        </table></td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table></td>
        </tr>
      </table></td>
  </tr>
</table>
</div>
</html>
