<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html layout:decorator="layout">

	<div layout:fragment="content" class="container">
		<br/>
		<br/>
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td align="center" valign="top">
					<table width="780" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td height="207" bgcolor="#FFFFFF"><img src="images/main_image.jpg" width="780" height="207"></td>
						</tr>
						<tr>
							<td height="329" bgcolor="#FFFFFF">
								<table width="780" height="100%" border="0" cellpadding="0" cellspacing="0">
									<tr>
										<td width="226" height="329" align="center" valign="middle">
											<table width="226" border="0" cellspacing="0" cellpadding="25">
												<tr>
													<td>
														<p class="orange">The purpose of wearing an N95 respirator
														    is to provide the individual with respiratory protection
														    in the workplace.</p>
														<p class="orange"> An N95 respirator by itself does not
														  provide respiratory protection. </p>
														<p class="orange">Fit testing to an N95 respirator coupled
														  with appropriate education and training provides reasonable
														  assurance that respiratory protection can be achieved.</p>
													</td>
												</tr>
											</table>
										</td>
										<td width="554" class="bkgdimage">
											<table width="554" border="0" cellspacing="0" cellpadding="0">
												<tr>
													<td align="center" valign="middle"><img src="images/orange_head.gif" width="471" height="66" vspace="26"></td>
												</tr>
												<tr>
													<td>
														<table width="554" border="0" cellspacing="0" cellpadding="0">
															<tr>
																<td width="75">&nbsp;</td>
																<td class="smlblk">
																	<p>We utilize the highest standards
																    in fit testing &#8211; complying with the Canadian
																    Centre for Occupational Health and Safety (CCOHS),
																    Canadian Standards Association (CSA), Ontario Safety
																    Association for Community and Healthcare (OSACH),
																    Occupational Safety and Health Administration (OSHA)
																    and the National Institute for Occupational Safety
																  and Health (NIOSH).</p>

																	<p>&nbsp;</p>
																</td>
																<td width="42">&nbsp;</td>
															</tr>
														</table>
													</td>
												</tr>
												<tr>
													<td>
														<table width="554" border="0" cellspacing="0" cellpadding="0">
															<tr align="center" valign="middle">
																<td align="right">&nbsp;</td>
																<td width="42">&nbsp;</td>
															</tr>
														</table>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</div>

</html>