<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html layout:decorator="layout">
<head>
<title>Post Training</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link href="css/emh_style.css" rel="stylesheet" type="text/css">
<style type="text/css">
<!--
.style1 {font-size: 12px}
-->
</style>
</head>

<div layout:fragment="content" class="container">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center" valign="top"><table width="780" border="0" cellspacing="0" cellpadding="0">
        <tr> 
          <td height="329"><table width="780" height="100%" border="0" cellpadding="0" cellspacing="0">
              <tr> 
                <td width="226" align="left" valign="top" bgcolor="E0E3E7"><table width="226" height="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td height="207"><img src="images/mask.jpg" width="226" height="207"></td>
                    </tr>
                    <tr>
                      <td><table width="226" border="0" cellspacing="0" cellpadding="20">
                          <tr> 
                            <td height="329"><p><span class="navdec">|</span> <a href="fitmodel" class="o"
							>EMH FIT Test Model</a></p>
                              <p><span class="navdec">|</span> <a href="corporatemodel" class="o"
							>EMH Corporate Training Model</a></p>
                              <p><span class="navdec">|</span> <a href="employeracct" class="o"
							>Employer Accountability</a></p>
                              <p><span class="navdec">|</span> <a href="faqs" class="o"
							>FAQ's (Questions &amp; Answers)</a></p>
                              <p><span class="navdec">|</span> <a href="post" class="o"
							>Post-Training Resources </a></p>
                              <p><span class="navdec">|</span> <a href="links" class="o"
							>Links for More Information</a></p></td>
                          </tr>
                        </table></td>
                    </tr>
                  </table></td>
                <td width="554" align="left" valign="top" bgcolor="#FFFFFF"> 
                  <table width="554" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td height="18" align="center" valign="middle"><img src="images/shadow.jpg" width="554" height="18"></td>
                    </tr>
                    <tr> 
                      <td align="left" valign="middle"><img src="images/post_head.gif" width="494" height="53" vspace="26"></td>
                    </tr>
                    <tr> 
                      <td><table width="554" border="0" cellspacing="0" cellpadding="0">
                          <tr> 
                            <td width="50">&nbsp;</td>
                            <td class="smlblka"><p class="smlblka style1"><strong> N 95 Respirators</strong></p>
                              <p class="smlblka style1"><strong>Post-FIT Test Review </strong></p>
                              <ol>
                                <li>Your EMH Consulting Fit Test Card is valid for two years. </li>
                                <li>You are responsible for keeping proof of Respirator Fit Testing up to date. </li>
                                <li>Scrupulous hand washing is imperative and you must sanitize your hands</li>
                              </ol>                              
                              <ul>
                                <li>Prior to selecting and donning your respirator </li>
                                <li>Prior to doffing your respirator </li>
                                <li>After doffing your respirator </li>
                                <li>Any time you touch or adjust your respirator &nbsp;</li>
                              </ul>                              
                              <ol start="4">
                                <li>You must perform a user seal check every time you don a respirator </li>
                                <li>You must perform a user seal check several times while wearing a respirator </li>
                                <li>You must be retested if your facial characteristics change in any way, ie after </li>
                              </ol>                              
                              <ul>
                                <li>Significant weight loss of 10% or more </li>
                                <li>Significant weight gain of 10% or more </li>
                                <li>Facial surgery </li>
                                <li>Dental changes </li>
                              </ul>                              
                              <p class="smlblka style1"><strong>Limitations of Use </strong></p>
                              <ul>
                                <li>Prolonged use of the N95 respirator can lead to increased levels of carbon dioxide, be aware of the signs and symptoms and pay attention to what your body is telling you </li>
                                <li>Disposable respirators used for respiratory protection and infection control are one time use only and once removed should be discarded </li>
                                <li>Disposable respirators can become damp with prolonged use and a damp respirator is not a barrier to bacteria and virus <strong></strong></li>
                                <li>You cannot suck candy or chew gum while wearing a respirator <strong></strong></li>
                                <li>Respirator fit is affected by any change to facial contours </li>
                              </ul>                              </td>
                            <td width="42">&nbsp;</td>
                          </tr>
                        </table></td>
                    </tr>
                    <tr> 
                      <td><table width="554" border="0" cellspacing="0" cellpadding="0">
                          <tr align="center" valign="middle"> 
                            <td align="right">&nbsp;</td>
                            <td width="42">&nbsp;</td>
                          </tr>
                        </table></td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table></td>
        </tr>
      </table></td>
  </tr>
</table>
</div>
</html>
