<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Why Choose EMH</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link href="css/emh_style.css" rel="stylesheet" type="text/css">
<style type="text/css">
<!--
.style1 {
	font-size: 12px;
	font-weight: bold;
}
-->
</style>
</head>

<body bgcolor="#999999" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center" valign="top"><table width="780" border="0" cellspacing="0" cellpadding="0">
        <tr> 
          <td height="105" background="images/top_clrs.gif"><table width="780" height="105" border="0" cellpadding="0" cellspacing="0">
              <tr> 
                <td width="284"><a href="home"><img src="images/emh_logo.gif" width="284" height="105" border="0"></a></td>
                <td width="496" align="right" valign="middle"> <table width="275" border="0" cellpadding="10" cellspacing="0" class="navdec">
                    <tr align="center" valign="middle"> 
                      <td><a href="home">HOME</a></td>
                      <td>|</td>
                      <td><a href="contact">CONTACT US</a></td>
                      <!-- <td>|</td>
                      <td><a href="client/home">LOGIN</a></td> -->
                      <td>&nbsp;</td>
                    </tr>
                  </table></td>
              </tr>
            </table></td>
        </tr>
        <tr> 
          <td height="32" align="right" valign="top" bgcolor="B2CDEB"> <table border="0" cellpadding="0" cellspacing="0" class="navdecb">
              <tr align="center" valign="middle"> 
                <td><a href="fit" class="b">FIT TESTING</a></td>
                <td width="53">|</td>
                <!-- <td><a href="healthconsulting" class="b">HEALTHCARE CONSULTING</a></td>
                <td width="53">|</td> -->
                <td><a href="aboutus" class="b">ABOUT US</a></td>
                <td width="53">|</td>
                <td><a href="whychoose" class="b">WHY CHOOSE EMH</a></td>
                <td width="20">&nbsp;</td>
              </tr>
            </table></td>
        </tr>
        <tr> 
          <td height="329"><table width="780" height="100%" border="0" cellpadding="0" cellspacing="0">
              <tr> 
                <td width="226" align="left" valign="top" bgcolor="E0E3E7"><table width="226" height="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td height="207"><img src="images/mask.jpg" width="226" height="207"></td>
                    </tr>
                    <tr>
                      <td><table width="226" border="0" cellspacing="0" cellpadding="20">
                          <tr> 
                            <td height="329"><p>&nbsp;</p>                            </td>
                          </tr>
                        </table></td>
                    </tr>
                  </table></td>
                <td width="554" align="left" valign="top" bgcolor="#FFFFFF"> 
                  <table width="554" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td height="18" align="center" valign="middle"><img src="images/shadow.jpg" width="554" height="18"></td>
                    </tr>
                    <tr> 
                      <td align="left" valign="middle"><img src="images/whychoose_head.gif" width="494" height="53" vspace="26"></td>
                    </tr>
                    <tr> 
                      <td><table width="554" border="0" cellspacing="0" cellpadding="0">
                          <tr> 
                            <td width="50">&nbsp;</td>
                            <td class="smlblka"><p><span class="orange"><strong>Why EMH Consulting: </strong> </span><span class="style1">What
                                  separates the best from the rest is the dedicated
                                  application of expert knowledge to the fit
                                  testing process. </span></p>                            
                            <p class="style1">Advantages of hiring EMHC</p>                              
                            <ul>
                              <li>Health care background ensures
                                inclusion of the principles of infection control
                                into training. </li>
                              <li>Streamlined process delivers quality
                                  training to large numbers of trainees. </li>
                              <li>Retention of learning by trainees
                                  is enhanced by providing education and training
                                  immediately prior to fit testing. &nbsp; </li>
                              <li>Provides highly skilled and experienced
                                  trainers </li>
                              <li>Conducts regular monitoring and
                                evaluation of trainers. </li>
                              <li>Many of our trainers are experienced
                                  emergency responders. A number of our
                                  trainers were also on the front line during
                                  SARS. </li>
                              <li>Retest rates of less than five
                                percent, well below the industry average of 20-25% </li>
                              <li>Provides all trainees with a Fit
                                  Test Card valid for twenty-four months. </li>
                              <li>Provides client organizations with
                                  electronic "Fit Test" records. </li>
                              <li>Provides an onsite coordinator. </li>
                              <li>Competitively priced. </li>
                              <li>Carries comprehensive General
                                Liability as well as Errors and Omissions Insurance. </li>
                            </ul>                            <p align="left">&nbsp;</p>                            </td>
                            <td width="42">&nbsp;</td>
                          </tr>
                        </table></td>
                    </tr>
                    <tr> 
                      <td><table width="554" border="0" cellspacing="0" cellpadding="0">
                          <tr align="center" valign="middle"> 
                            <td align="right">&nbsp;</td>
                            <td width="42">&nbsp;</td>
                          </tr>
                        </table></td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table></td>
        </tr>
        <tr> 
          <td height="40" align="center" valign="middle" bgcolor="AA0000"><table width="100%" border="0" cellspacing="0" cellpadding="0" class="navdecr">
            <tr align="center" valign="middle">
              <td width="30">&nbsp;</td>
              <td>Copyright &copy; 2006</td>
              <td>EMH Consulting Inc.</td>
              <td>All rights reserved.</td>
              <td>Site designed by <a href="http://www.kjakreations.com" target="_blank" class="r">kja
                kreations</a> <strong>inc.</strong></td>
            </tr>
          </table>
		  
		  </td>
        </tr>
      </table></td>
  </tr>
</table>
</body>
</html>
